  <!-- footer -->
  <div class="footer">
    <div class="container">
      <div class="footer-inner">
        <div class="footer-contact">
          <h2><a href="#"><img src="/assets/images/logo.svg" alt="Noel logo"></a></h2>
          <div>
            <p>若有數位產品設計和開發相關問題<br><span>歡迎填寫表單，或直接與我聯絡！</span></p>
            <p></p>
          </div>
          <address>
            <a href="mailto:service@hexschool.com">service@hexschool.com</a>
          </address>
        </div>
        <div class="footer-social">
          <ul>
            <li><a class="footer-social-active" href="#"><img src="/assets/images/list.svg" alt="form icon">填寫表單</a></li>
            <li><a class="" href="#"><img src="/assets/images/instagram.svg" alt="instagram icon">hexschool_demo</a></li>
            <li><a class="" href="#"><img src="/assets/images/facebook.svg" alt="form icon">hexschoolTW</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>