  <!-- navbar -->
  <nav>
    <div class="container">
      <div class="navbar">
        <!-- logo -->
        <h1>
          <a href="#">
            <img src="assets/images/logo.png" alt="Noel Logo">
          </a>
        </h1>
        <!-- icon -->
          <input type="checkbox" name="" id="menu-control" class="menu-control">
          <label for="menu-control" class="menu-btn">
            <span class="material-symbols-outlined hamburger">menu</span>
            <span class="material-symbols-outlined closure">close</span>
          </label>
        <!-- menu -->
        <ul class="menu">
          <li>
            <a href="index.html">首頁</a>
          </li>
          <li>
            <a href="pages/work.html">作品集</a>
          </li>
          <li>
            <a href="#">服務項目</a>
          </li>
          <li>
            <a href="#">部落格</a>
          </li>
          <li>
            <a href="#">聯絡我</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>