/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* * {
    outline: 1px solid black;
} */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", "Noto Sans TC", sans-serif;
  color: #3B3B3B;
  line-height: 1.2;
  padding-top: 96px;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.text-white {
  color: #FFFFFF;
}

.text-grey {
  color: #5B5B5B;
}

.text-light-grey {
  color: #919191;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  color: #3B3B3B;
  text-decoration: none;
}

.deco-mark::after {
  position: absolute;
  content: "";
  background-image: url("../images/mark.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 148px;
  height: 8px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.deco-mark-short::after {
  width: 119px;
}

.content-title {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
  position: relative;
  font-weight: bold;
  gap: 16px;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .content-title {
    font-size: 24px;
    letter-spacing: 2.88px;
  }
}
.content-title::before {
  content: "";
  background-image: url("/assets/images/title-deco-left-lg.png");
  width: 100px;
  height: 6px;
  background-position: center;
}
@media (max-width: 767px) {
  .content-title::before {
    background-image: url("/assets/images/title-deco-left-sm.png");
    width: 56px;
  }
}
.content-title::after {
  content: "";
  background-image: url("/assets/images/title-deco-right-lg.png");
  width: 100px;
  height: 6px;
  background-position: center;
}
@media (max-width: 767px) {
  .content-title::after {
    background-image: url("/assets/images/title-deco-right-sm.png");
    width: 56px;
  }
}

nav {
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 28px 0;
}
@media (max-width: 992px) {
  .navbar {
    justify-content: space-between;
  }
}
.navbar h1 {
  margin-right: 318px;
}
.navbar h1 img {
  width: 90px;
}
@media (max-width: 767px) {
  .navbar h1 {
    margin-right: auto;
  }
}
.navbar .menu-control,
.navbar .menu-btn {
  display: none;
}
.navbar .menu-control:checked + .menu-btn .hamburger {
  display: none;
}
.navbar .menu-control:checked + .menu-btn .closure {
  display: inline;
}
.navbar .menu-control:not(:checked) + .menu-btn .hamburger {
  display: inline;
}
.navbar .menu-control:not(:checked) + .menu-btn .closure {
  display: none;
}
.navbar .menu-btn {
  display: none;
  cursor: pointer;
}
@media (max-width: 992px) {
  .navbar .menu-btn {
    display: inline;
    vertical-align: middle;
  }
  .navbar .menu-control:checked ~ .menu {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
.navbar .menu {
  display: flex;
  gap: 40px;
}
@media (max-width: 992px) {
  .navbar .menu {
    display: none;
  }
}
.navbar .menu a {
  font-weight: 600;
  color: #000000;
  padding: 4px 8px;
  line-height: 1.5;
  position: relative;
}
.navbar .menu a:hover:before, .navbar .menu a:hover::after {
  position: absolute;
  -webkit-box-reflect: below 16px;
}
.navbar .menu a:hover::before {
  content: "";
  top: 0px;
  left: 0px;
  width: 8px;
  height: 8px;
  border-top: 1px solid #919191;
  border-left: 1px solid #919191;
}
.navbar .menu a:hover::after {
  content: "";
  right: 0px;
  top: 0px;
  width: 8px;
  height: 8px;
  border-top: 1px solid #919191;
  border-right: 1px solid #919191;
}

.banner {
  background-color: #FAFAFA;
  padding: 80px 0;
  text-align: center;
}
@media (max-width: 767px) {
  .banner {
    padding-top: 40px;
  }
}
.banner-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 24px;
}
.banner h2 {
  color: #1E1E1E;
  font-size: 24px;
  padding: 60px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  z-index: 0;
}
@media (max-width: 767px) {
  .banner h2 {
    padding-top: 64px;
    padding-bottom: 40px;
    line-height: 1.5;
    font-size: 20px;
  }
}
.banner h2::before {
  position: absolute;
  content: url("/assets/images/quote-left.png");
  width: 72px;
  height: 72px;
  top: 0px;
  left: -72px;
}
@media (max-width: 767px) {
  .banner h2::before {
    width: 64px;
    height: 64px;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
.banner h2::after {
  position: absolute;
  content: url("/assets/images/quote-right.png");
  width: 72px;
  height: 72px;
  bottom: 0px;
  right: -72px;
}
@media (max-width: 767px) {
  .banner h2::after {
    display: none;
  }
}
.banner br {
  display: none;
}
@media (max-width: 767px) {
  .banner br {
    display: inline;
  }
}
.banner ul {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  max-width: 636px;
}
@media (max-width: 767px) {
  .banner ul {
    max-width: 235px;
  }
}
.banner ul li {
  width: 50%;
}
@media (max-width: 767px) {
  .banner ul {
    flex-wrap: wrap;
    gap: 20px;
  }
  .banner ul li {
    width: 100%;
  }
}
.banner h3 {
  position: relative;
  margin-bottom: 8px;
  padding-bottom: 4px;
  color: #5B5B5B;
}
.banner h3::after {
  content: "";
  width: 24px;
  height: 2px;
  background-color: #C1C1C1;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.banner p {
  color: #3B3B3B;
}

.work {
  padding: 120px 0;
}
@media (max-width: 767px) {
  .work {
    padding: 80px 0;
  }
}
.work .hashtag a {
  background: #F1F1F1;
}

.card {
  display: flex;
  flex-wrap: wrap;
  gap: 80px 24px;
  margin-bottom: 72px;
  width: 100%;
}
@media (max-width: 767px) {
  .card {
    gap: 48px;
  }
}
.card-list {
  width: calc(50% - 12px);
}
@media (max-width: 767px) {
  .card-list {
    width: 100%;
  }
}
.card-list img {
  border: 1px solid #F1F1F1;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 16px;
}
.card-content {
  padding: 0 16px;
}

.work-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  .work-title {
    font-size: 20px;
  }
}

.work-title-sub {
  line-height: 1.5;
  margin-bottom: 24px;
}

.hashtag {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .hashtag {
    gap: 8px;
    justify-content: center;
  }
}
.hashtag a {
  padding: 4px 12px;
  border-radius: 16px;
}
.hashtag a:hover {
  background: #3B3B3B;
  color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 16px;
  font-size: 24px;
  line-height: 1.5;
}
.pagination a {
  padding: 2px 13px;
  border-radius: 4px;
}
.pagination a:hover {
  color: white;
  background: #1E1E1E;
}
.pagination .active {
  color: white;
  background: #1E1E1E;
}

.footer {
  background-image: url("/assets/images/footer-bg-lg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0;
}
@media (max-width: 767px) {
  .footer {
    padding: 40px 0;
    background-image: url("/assets/images/footer-bg-sm.png");
  }
}
.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .footer-inner {
    flex-direction: column;
    gap: 40px;
  }
}
.footer-contact {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .footer-contact {
    align-items: center;
  }
}
.footer-contact img {
  width: 120px;
}
@media (max-width: 767px) {
  .footer-contact span {
    margin-top: 4px;
    display: block;
  }
}
.footer-contact a {
  color: #919191;
}
.footer-social ul {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.footer-social a {
  font-size: 20px;
  font-weight: 700;
  display: block;
  max-width: 306px;
  padding: 8px 24px;
  border-radius: 8px;
  border: 1px solid #C1C1C1;
}
.footer-social a:hover {
  background: #000000;
}
@media (max-width: 767px) {
  .footer-social a {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.footer-social-active {
  background: #000000;
  color: #FFFFFF;
}
.footer-social img {
  display: inline;
  vertical-align: middle;
  margin-right: 8px;
}

.hero {
  position: relative;
}
@media (max-width: 767px) {
  .hero .container {
    padding-left: 0px;
    padding-right: 0;
  }
}
.hero-box {
  display: flex;
  gap: 24px;
}
@media (max-width: 992px) {
  .hero-box {
    flex-direction: column-reverse;
  }
}
.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 992px) {
  .hero-info {
    align-items: center;
    text-align: center;
  }
}
.hero-info h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 24px;
}
.hero-info p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 16px;
}
.hero-info small {
  font-size: 16px;
  line-height: 1.5;
  color: #C1C1C1;
}
.hero-info ul {
  margin-top: 60px;
  gap: 16px;
}
.hero-img {
  height: 792px;
}
@media (max-width: 992px) {
  .hero-img {
    height: auto;
  }
}
.hero-img img:nth-of-type(1) {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
  .hero-img img:nth-of-type(1) {
    display: none;
  }
}
@media (max-width: 767px) {
  .hero-img img:nth-of-type(2) {
    display: block;
    width: 100%;
  }
}
.hero-img-position {
  position: absolute;
  height: 100%;
}
@media (max-width: 992px) {
  .hero-img-position {
    height: auto;
    position: static;
  }
}
.hero span {
  margin: 0 8px;
}
@media (max-width: 767px) {
  .hero br {
    display: block;
  }
}

.homepage-work {
  padding-top: 120px;
}
@media (max-width: 992px) {
  .homepage-work .container {
    padding: 0;
  }
}
.homepage-work-bg {
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 992px) {
  .homepage-work-bg {
    height: auto;
  }
}
.homepage-work-box {
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .homepage-work-box {
    flex-direction: column;
  }
}
.homepage-work-img {
  width: 58.33%;
}
@media (max-width: 992px) {
  .homepage-work-img {
    width: 100%;
  }
}
.homepage-work-bg:nth-child(1) {
  background-image: url("../images/homepage-work1-bg.png");
}
@media (max-width: 992px) {
  .homepage-work-bg:nth-child(1) {
    background: none;
  }
}
.homepage-work-bg:nth-child(1) .homepage-work-img {
  margin-top: 80px;
  margin-right: 55px;
}
@media (max-width: 992px) {
  .homepage-work-bg:nth-child(1) .homepage-work-img {
    background-image: url("/assets/images/homepage-work1-bg.png");
    margin-top: 0px;
    margin-right: 0px;
    background-size: cover;
    background-position: center;
    padding-top: 93px;
    display: flex;
    justify-content: center;
  }
  .homepage-work-bg:nth-child(1) .homepage-work-img img {
    width: 295px;
    padding: 0 12px;
  }
}
.homepage-work-bg:nth-child(2) {
  background-image: url("/assets/images/homepage-work2-lg.png");
}
@media (max-width: 992px) {
  .homepage-work-bg:nth-child(2) {
    background-image: none;
  }
}
.homepage-work-bg:nth-child(2) .homepage-work-content {
  margin: 200px 0;
}
@media (max-width: 992px) {
  .homepage-work-bg:nth-child(2) .homepage-work-content {
    margin: 0;
  }
}
.homepage-work-bg:nth-child(2) .homepage-work-img {
  display: none;
}
@media (max-width: 992px) {
  .homepage-work-bg:nth-child(2) .homepage-work-img {
    display: block;
  }
}
.homepage-work-bg:nth-child(2) .homepage-work-img img:nth-of-type(1) {
  display: none;
}
@media (max-width: 375px) {
  .homepage-work-bg:nth-child(2) .homepage-work-img img:nth-of-type(1) {
    display: block;
  }
}
.homepage-work-bg:nth-child(2) .homepage-work-img img:nth-of-type(2) {
  height: 390px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 375px) {
  .homepage-work-bg:nth-child(2) .homepage-work-img img:nth-of-type(2) {
    display: none;
  }
}
.homepage-work-bg:nth-child(3) {
  background-image: url("/assets/images/homepage-work3-bg.png");
}
@media (max-width: 992px) {
  .homepage-work-bg:nth-child(3) {
    background: none;
  }
}
.homepage-work-bg:nth-child(3) .homepage-work-img {
  margin-top: 80px;
  margin-right: 49px;
  margin-bottom: 112px;
  z-index: 1;
  position: relative;
}
@media (max-width: 992px) {
  .homepage-work-bg:nth-child(3) .homepage-work-img {
    background-image: url("/assets/images/homepage-work3-bg.png");
    margin: 0;
    background-size: cover;
    background-position: center;
    padding: 90px 0;
    display: flex;
    justify-content: center;
  }
  .homepage-work-bg:nth-child(3) .homepage-work-img::after {
    content: "";
    position: absolute;
    background-color: rgba(10, 16, 19, 0.5019607843);
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
  }
  .homepage-work-bg:nth-child(3) .homepage-work-img img {
    width: 295px;
    padding: 0 12px;
    z-index: 2;
  }
}
.homepage-work-bg-layer::after {
  content: "";
  background-color: rgba(10, 16, 19, 0.5019607843);
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
}
@media (max-width: 992px) {
  .homepage-work-bg-layer::after {
    content: none;
  }
}
.homepage-work-bg-layer-50::after {
  right: 50%;
}
.homepage-work-bg-layer-100::after {
  right: 0px;
}
.homepage-work-content {
  background-color: rgba(255, 255, 255, 0.1019607843);
  border-radius: 24px;
  padding: 80px 40px 56px 40px;
  width: 41.67%;
  z-index: 1;
}
@media (max-width: 992px) {
  .homepage-work-content {
    padding: 24px 24px 48px 24px;
  }
}
.homepage-work-content .hashtag a {
  background: #FFFFFF;
  color: #3B3B3B;
}
@media (max-width: 992px) {
  .homepage-work-content .hashtag a {
    background: #F1F1F1;
  }
}
@media (max-width: 992px) {
  .homepage-work-content {
    text-align: center;
    width: 100%;
  }
}
.homepage-work-info {
  border-bottom: 1px solid #F1F1F1;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
@media (max-width: 992px) {
  .homepage-work-info {
    border-bottom: 0;
    margin-bottom: 20px;
    padding-bottom: 0px;
  }
}
.homepage-work-more {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.homepage-work-more a {
  background: #000000;
  padding: 16px 32px;
  line-height: 1.5;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .homepage-work-more a {
    padding: 8px 16px;
    font-size: 16px;
  }
}
.homepage-work-more a:hover {
  background-color: #3B3B3B;
}

.homepage-service {
  background-image: url("/assets/images/homepage-services-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0;
}
@media (max-width: 992px) {
  .homepage-service {
    padding: 80px 0;
  }
}

.service-list {
  display: flex;
  gap: 24px;
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .service-list {
    flex-wrap: wrap;
  }
}
.service-list-item {
  width: 25%;
  padding: 80px 0;
  background-image: url("/assets/images/service-item-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 16px;
}
@media (max-width: 992px) {
  .service-list-item {
    width: calc(50% - 12px);
  }
}
@media (max-width: 767px) {
  .service-list-item {
    width: 100%;
  }
}
.service-list-item h4 {
  font-size: 28px;
  line-height: 1.5;
  font-weight: 700;
  color: white;
}

.service-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-more p {
  font-size: 28px;
  color: #3B3B3B;
  font-weight: 600;
  margin-bottom: 40px;
}
.service-more a {
  padding: 16px 32px;
  background: #000000;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
}
.service-more a:hover {
  background-color: #3B3B3B;
}

.homepage-article {
  padding: 120px 0;
}
@media (max-width: 767px) {
  .homepage-article {
    padding: 80px 0;
  }
}

.article-img {
  border-radius: 8px;
  margin-bottom: 16px;
  width: 100%;
}

.article-info {
  padding: 0 8px;
}

.article-title {
  font-size: 20px;
  font-weight: 700;
  color: #3B3B3B;
  margin-bottom: 16px;
}

.swiper {
  padding-bottom: 52px;
}

.article-content {
  display: flex;
  justify-content: space-between;
}
.article-content p:first-child {
  background: #F1F1F1;
  padding: 4px 12px;
  border-radius: 16px;
}

.article-btn {
  display: none;
  padding: 8px 16px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 700;
  line-height: 1.5;
  gap: 8px;
}
@media (max-width: 767px) {
  .article-btn {
    display: flex;
  }
}

@media (max-width: 767px) {
  .swiper-pagination {
    display: none;
  }
  .swiper {
    padding-bottom: 0;
    margin-bottom: -8px;
  }
  .swiper-slide {
    margin-bottom: 48px;
  }
  .swiper-slide:nth-child(n+4) {
    display: none;
  }
}/*# sourceMappingURL=all.css.map */